.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  button {
    margin: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 0.5rem;
    background: none;
    color: rgba(255, 255, 255, 0.87);
    padding: 0.75rem 1rem;
  }

  .pagination-btn:hover {
    cursor: pointer;
  }

  .pagination-btn:disabled {
    background: rgba(255, 255, 255, 0.87);
    color: rgba(0, 0, 0, 0.87);
    cursor: not-allowed;
  }

  .pages {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 0.5rem;
    padding: 0.75rem;
    min-width: 0.75rem;
    margin: 0 0.5rem;
  }

  .page:hover {
    cursor: pointer;
  }

  .active-page {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(255, 255, 255, 0.87);
  }
}
